<?xml version='1.0' encoding='utf-8'?>
<widget id="pdavila.todos" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Todos</name>
    <description>
        A ToDos app with VueJS.
    </description>
    <author email="pdavila@iesebre.com" href="http://github.com/pdavila13">
        Paolo Dávila Develop
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="https://todosbackend.pdavila.2dam.acacha.org/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="TodosVueIcon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~6.1.2" />
    <engine name="browser" spec="~4.1.0" />
    <plugin name="cordova-plugin-camera" spec="~2.4.0" />
    <plugin name="cordova-plugin-compat" spec="~1.1.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.2" />
    <plugin name="cordova-plugin-contacts" spec="~1.0.6" />
    <plugin name="cordova-plugin-device" spec="~1.1.4" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.0" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.0" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.4" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="phonegap-plugin-push" spec="~1.5.3" />
</widget>
